.hd {
  height: 60px;
  width: 100vw;
  background-color: #b52820;
  z-index: 100;
  cursor: default;
}

.bar-sec {
  position: relative;
  padding-top: 30px;
  display: inline-block;
}

.my-avatar {
  position: absolute;
  width: 26px;
  border-radius: 20px;
  top: -24px;
  left: 5px;
}

.my-avatar-wp {
  width: 100%;
  position: relative;
}

.my-avatar-wp::after {
  position: absolute;
  left: 36px;
  top: -10px;
  content: '';
  width: 0;
  height: 0;
  border: transparent solid;
  border-top-color: #fff;
  border-width: 4px;
}

.transform-btn {
  position: absolute;
  top: -15px;
  left: 35px;
  width: 14px;
  height: 10px;
  background: rgba(0, 0, 0, .3);
  border-radius: 2px;
  box-shadow: 0 0 1px rgba(200, 200, 200, .2) inset;
}

.transform-btn-tail {
  position: absolute;
  top: 2px;
  left: 2px;
  display: inline-block;
  width: 7px;
  height: 3px;
  background: #ab2b2b;
}

.app-icon {
  font-size: 20px;
}

.left-sec {
  position: relative;
  width: calc(100vw - 60px);
  height: 100%;
  border-right: 1px solid #95211a;
  padding-right: 20px;
}

.app-icon-wp {
  padding-left: 20px;
  margin-right: 60px;
  line-height: 20px;
  color: white;
}

.app-name {
  vertical-align: 3px;
  font-size: 18px;
}

.router-search-wp {
  position: absolute;
  top: 28px;
  left: 240px;
}

.router-icon {
  padding: 5px 7px;
  background: #cb1d13;
  font-size: 12px;
  border-radius: 4px 0 0 4px;
  border: 1px solid #a21108;
}

.right-router {
  transform: rotate(180deg);
  vertical-align: 0.5px;
  border-right: none;
}

.left-router {
}

.search-icon {
  color: #bbb;
  position: absolute;
  left: 86px;
  top: 5px;
  font-size: 14px;
}

.search-ipt {
  margin-left: 20px;
  padding: 5px 10px 5px 25px;
  width: 200px;
  border-radius: 50px;
}

.mail-icon {
  padding-right: 20px;
}

.main {
  height: calc(100vh - 65px - 60px);
  overflow: hidden;
  margin-bottom: -65px;
}

.main-pad {
  display: inline-block;
  height: calc(100vh - 65px - 60px);
}

.left-pad {
  padding-top: 5px;
  width: 200px;
  border-right: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.48)
}

.items-pad {
  height: calc(100vh - 65px - 60px - 86px);
  overflow: hidden;
}

.playing-pad {
  height: 86px;
  width: 200px;
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}

.playing-info {
  position: relative;
  width: 100%;
  margin-top: 20px;
}

.song-name {
  color: #444;
  width: 80px;
  font-size: 14px;
}

.playing-icon {
  position: absolute;
  right: 5px;
  color: #888;
}

.share-icon {
  top: 0;
}

.suki-icon {
  top: 24px;
}

.singer {
  color: #aaa;
  font-size: 13px;
}

.play-img {
  border-radius: 4px;
  border: 1px solid #ddd;
  width: 62px;
  margin: 10px;
}

.list-sec {
  width: 100%;
  /*padding: 0 12px;*/
  margin-bottom: 12px;
  cursor: default;
}

.list-name {
  font-size: 12px;
  padding: 0 12px;
  color: #888;
  margin-bottom: 10px;
}

.item-icon {
  margin-right: 10px;
  font-size: 17px;
  vertical-align: -3px;
}

.list-item {
  color: #444;
  font-size: 13px;
  padding: 5px 10px 5px 22px;
  overflow: hidden; text-overflow: ellipsis; white-space: nowrap;
}

.active-item {
  background: rgba(0, 0, 0, .1);
  position: relative;
}

.active-item::before {
  content: '';
  width: 3px;
  height: 20px;
  background: #d12323;
  position: absolute;
  left: 0;
  top: 4px;
}

.right-pad {
  width: calc(100vw - 200px);
  background: #fafafa;
  padding: 4rem calc(50% - 470px);
}

.p-img {
  width: 260px;
  border: 1px solid #888;
  vertical-align: middle;
}

.p-img.current-img {
  margin-left: -170px;
  /*-webkit-box-reflect: below 0 -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(70%, transparent) , to(rgba(250, 250, 250, 0.1)));*/
}

.current-wp {
  position: relative;
}

.current-wp .current-status {
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
  background: rgba(0, 0, 0, .38);
  box-shadow: 0 0 1px #777;
  text-align: center;
  line-height: 48px;
  font-size: 22px;
  color: #eee;
}

.p-img.prev-img {
  width: 200px;
  /*-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(80%, transparent) , to(rgba(250, 250, 250, 0.1)));*/
}

.main-play-ctrl {
  margin-top: 50px;
  color: #777;
}

.main-play-ctrl span {
  display: inline-block;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 20px;
  border: 1px solid #dedede;
  text-align: center;
  line-height: 44px;
  margin: 0 14px;
}

.name-title {
  color: #333;
  font-size: 22px;
  margin-top: -15px;
}

.label {
  display: inline-block;
  color: #d12323;
  font-size: 12px;
  padding: 1px 2px;
  border-radius: 2px;
  line-height: 12px;
  border: 1px solid #d12323;
  vertical-align: 4px;
  -webkit-user-select: none;
}

.info-lyric {
  padding-left: 30px;
}

.lyric-item.active-lyric {
  color: #b3291c;
  font-weight: bold;
}

.info {
  margin-top: 20px;
  font-size: 12px;
  color: #aaa;
}

.main-pad-sec {
  vertical-align: top;
}

.main-singer {
  margin-left: 80px;
}

.linear-bar {
  height: 1px;
  width: 100%;
  margin-top: 15px;
  background: linear-gradient(to right, #dedede, #dedede 70%, transparent 100%);
}

.lyric-pad {
  width: 115%;
  height: 280px;
  margin-top: 10px;
  border-right: 1px solid #dedede;
}

.lyric-pad::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: rgba(200, 200, 200, .8);
}

.lyric-item {
  font-size: 13px;
  color: #666;
  line-height: 26px;
  margin: 10px 0;
}

.comment-wp {
  width: 100%;
  margin-top: 30px;
  color: #333;
}

.comment-title {
  font-size: 20px;
}

.comment-bar {
  position: relative;
  height: 1px;
  width: 100%;
  margin-top: 10px;
  background-color: #ddd;
}

.comment-bar::before {
  content: '';
  position: absolute;
  height: 4px;
  width: 80px;
  left: 0;
  top: -4px;
  background: #ddd;
}

.comment-num {
  color: #888;
  font-size: 12px;
  margin-left: 10px;
}

.comment-input {
  position: relative;
  border: 1px solid #bbb;
  margin-top: 20px;
  padding: 10px;
  padding-bottom: 20px;
}

.comment-textarea {
  border: 1px solid #bbb;
  border-radius: 4px;
  font-size: 12px;
  padding: 10px;
  width: 100%;
  height: 44px;
  resize: none;
}

.comment-input::after {
  content: '140';
  position: absolute;
  right: 15px;
  top: 35px;
  font-size: 12px;
  color: #aaa;
}

.comment-ctrl {
  color: #555;
  font-size: 20px;
  margin-top: 5px;
}

.comment-btn {
  border-radius: 4px;
  padding: 2px 8px;
  font-size: 12px;
  box-shadow: 0 0 1px #333;
}

.link {
  color: #3884c3;
  cursor: pointer;
}

.scroll {
  overflow-x: hidden;
  overflow-y: scroll;
}

.ft {
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 65px;
  border-top: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.48);
  line-height: 65px;
  padding-right: 15px;
  cursor: default;
}

.ctrl-btn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #d12323;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  padding-top: 1px;
  margin-left: 20px;
}

.play-btn {
  width: 35px;
  height: 35px;
  line-height: 35px;
}

.process-bar {
  position: relative;
  width: calc(100vw - 600px);
  margin: 0 20px 0 36px;
  height: 4px;
  border-radius: 2px;
  background: #c2c2c2;
  vertical-align: middle;
}

.loaded {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 4px;
  border-radius: 2px;
  background: #d12323;
}

.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #fff;
  border-radius: 8px;
  position: absolute;
  left: 240px;
  top: -6px;
  box-shadow: 0 0 1px #666;
  text-align: center;
  color: #d12323;
  line-height: 17px;
  font-size: 24px;
}

.volume-sec {
  margin-left: 20px;
  color: #666;
  vertical-align: -2px;
}

.ft-time {
  color: #999;
  font-size: 12px;
}

.volume-bar {
  position: relative;
  width: 100px;
  height: 4px;
  border-radius: 2px;
  background: #d12323;
  vertical-align: middle;;
}

.volume-bar::after {
  content: '';
  display: inline-block;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0 0 1px #999;
  right: -5px;
  top: -5px;
}

.right-ctrl {
  color: #555;
  font-size: 18px;
}

.right-ctrl .icon {
  margin: 0 5px;
  vertical-align: middle;
}

.lyric-icon {
  font-size: 25px;
}

.right-ctrl .list-icon {
  margin-right: 2px;
}

.num {
  display: inline-block;
  background: #bbb;
  height: 16px;
  padding: 0 5px;
  border-radius: 10px;
  font-size: 10px;
  line-height: 14px;
  color: #eee;
  vertical-align: middle;
}

.song-pop-list {
  cursor: default;
  position: absolute;;
  top: -451px;
  right: 0;
  height: 450px;
  width: 560px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  overflow: hidden;
  box-shadow: -2px -2px 6px rgba(0, 0, 0, .34);
  font-size: 12px;
}

.pop-list-hd {
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: linear-gradient(180deg, rgba(230,230,230,.94), rgba(230,230,230,.82));
}

.pop-list-ctrl {
  height: 30px;
  line-height: 30px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  background: #fcfcfc;
  color: #999;
  padding-left: 20px;
}

.pop-list-hd-btn {
  padding: 2px 38px;
  color: #666;
  box-shadow: 0 0 1px rgba(0,0,0,.3);
}

.btn-p-list {
  color: #fff;
  background: #666;
  border-radius: 2px 0   0 2px;
}

.btn-h-list {
  background-color: #fff;
  border-radius: 0 2px 2px 0;
}

.pop-list-close-btn {
  display: inline-block;
  color: #888;
  font-size: 16px;
  margin-right: 10px;
}

.pop-list-songs {
  overflow: auto;
  width: 100%;
  height: 390px;
  background: #fcfcfc;
  padding-bottom: 60px;
  /*background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4 50%, #fcfcfc 0);
  background-size: 60px 60px;
  background-repeat: repeat;*/
}

.song-item {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
  color: #444;
  background: #fcfcfc;
}
.song-item:nth-child(odd) {
  background: #f4f4f4;
}
.active-song-item {
  position: relative;
}
.active-song-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 5px;
  width: 3px;
  height: 20px;
  background: #d12323;
}
.p-song-name {
  width: 300px;
}
.p-song-artists {
  width: 140px;
}
.p-song-time {
  width: 80px;
  padding-right: 20px;
  text-align: right;
}
