body {
  height: 100vh;
  width: 100vw;
  background: #fff;
  color: #888;
}
.close {
  font-size: 20px;
}
.open {
  width: 10px;
  height: 8px;
  border: 2px solid #888;
  border-radius: 2px;
}
.btn {
  display: block;
}
.btn-wp {
  width: 16px;
}
.m-img {
  width: 42px;
  vertical-align: top;
  border: 1px solid #ccc;
  border-radius: 1px;
}
.m-name {
  color: #666;
}
.info-wp {
  width: 140px;
  height: 40px;
  padding: 3px;
  text-align: center;
}
.main-ctrl {
  display: inline-block;
  font-size: 18px;
  color: #666;
  margin: 0 4px;
}
.main-ctrl-wp {
  line-height: 40px;
  vertical-align: 4px;
}
.play-ctrl {
  width: 30px;
  height: 30px;
  line-height: 26px;
  border: 2px solid #666;
  border-radius: 50%;
  padding-left: 4px;
  text-align: center;
  font-size: 16px;
  vertical-align: top;
}
.other-wp {
  vertical-align: top;
  font-size: 12px;
}
.ctrl-wp {
  color: #777;
  font-size: 18px;
  vertical-align: top;
  line-height: 40px;
}
.ctrl-wp span {
  padding: 0 3px;
}
.lyric-icon {
  font-size: 24px;
  vertical-align: -2px;
}
.progress {
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 3px;
  background: #ccc;
}
.progress::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0;
  height: 2px;
  width: 60%;
  background: #d12323
}
.hd {
  border-bottom: 1px solid #ccc;
  box-shadow: 0 -1px 4px #999;
  padding: 5px;
  padding-bottom: 10px;
}
.song-list {
  height: calc(100vh - 40px);
  overflow: auto;
  background-image: linear-gradient(180deg, #f4f4f4, #f4f4f4 50%, #fcfcfc 0);
  background-size: 68px 68px;
  background-repeat: repeat;
}
.song-item {
  line-height: 26px;
  padding: 4px 22px;
  font-size: 12px;
  color: #444;
  background: #fcfcfc;
}
.song-item:nth-child(odd) {
  background: #f4f4f4;
}
.active-item {
  position: relative;
}
.active-item::before {
  content: '';
  position: absolute;
  left: 0;
  top: 6px;
  width: 3px;
  height: 22px;
  background: #d12323;
}
