@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yqw9if');
  src:  url('fonts/icomoon.eot?yqw9if#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yqw9if') format('truetype'),
    url('fonts/icomoon.woff?yqw9if') format('woff'),
    url('fonts/icomoon.svg?yqw9if#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wytiny:before {
  content: "\e914";
}
.icon-gomi:before {
  content: "\e91b";
}
.icon-next-2:before {
  content: "\e91c";
}
.icon-lyric:before {
  content: "\e919";
}
.icon-single:before {
  content: "\e91a";
}
.icon-exit:before {
  content: "\e915";
}
.icon-smile:before {
  content: "\e916";
}
.icon-at:before {
  content: "\e917";
}
.icon-share:before {
  content: "\e918";
}
.icon-play:before {
  content: "\e900";
}
.icon-list:before {
  content: "\e901";
}
.icon-more:before {
  content: "\e902";
}
.icon-fm:before {
  content: "\e903";
}
.icon-friends:before {
  content: "\e904";
}
.icon-prev:before {
  content: "\e905";
}
.icon-setting:before {
  content: "\e906";
}
.icon-search:before {
  content: "\e907";
}
.icon-netease:before {
  content: "\e908";
}
.icon-mine:before {
  content: "\e909";
}
.icon-like:before {
  content: "\e90a";
}
.icon-next:before {
  content: "\e90b";
}
.icon-download:before {
  content: "\e90c";
}
.icon-music:before {
  content: "\e90d";
}
.icon-playing:before {
  content: "\e90e";
}
.icon-volume:before {
  content: "\e90f";
}
.icon-mail:before {
  content: "\e910";
}
.icon-stop:before {
  content: "\e911";
}
.icon-left:before {
  content: "\e912";
}
.icon-mv:before {
  content: "\e913";
}

